<link rel=StyleSheet href="stylesheets/signup.css" type="text/css" media=screen>
<div id="signup-container" style="opacity: 1;">

  <%= form_for(@user) do |f| %>
      <div id="sign-up-title">Welcom to use WoJiDe, it will help you remember words conveniently.</div>
      <div class="formcont">
        <div class="form">
          <div class="name">
            <%= f.text_field :name, :autocomplete => :off %>
          </div>
          <div class="email">
            <%= f.text_field :email, :autocomplete => :off %>
          </div>
          <div class="passwd">
            <%= f.password_field :password, :autocomplete => :off %>
          </div>
          <div class="passwd-confirm">
            <%= f.password_field :password_confirmation, :autocomplete => :off %>
          </div>
        </div>
      </div>
      <%= f.submit "Sign up", :autocomplete => :off, :class => "signup-button" %>
  <% end %>


</div>
