<%= render "layouts/keep-in-mind-box" %>

<div id="cards">
	<div class="sponsorListHolder">
			<% @words.each { |word| %>
				<div id='<%= word.word %>' style='float:left'>
					<div class="sponsor" title="Click to flip">
						<div class="sponsorFlip" word_id='<%= word.id%>'>
							<div id="name" style="padding: 10px 10px 40px">
								<%= time_ago_in_words(word.updated_at)%>
								<div class='word-content'>
									<%=word.word%>
								</div>
							</div>
				</div>
			<%}%>
	<div>
</div>

<div class="dialog" style='display:none'>
	<div id="name">
		<div class='error-message'>
		</div>
		Word: <span id='word' ></span><br/>
		Translation: <span id='translation'></span><br/>
		Tags: <input type='text' id='tag'/>
	</div>

</div>

<script>
function highlight(element){
	$(element).addClass("highlight");
	window.setTimeout(function(){
		$(element).removeClass('highlight');
	}, 1000);
}

$(document).ready(function(){
	/* The following code is executed once the DOM is loaded */

	$('.sponsorFlip').bind("click",function(){

		// $(this) point to the clicked .sponsorFlip element (caching it in elem for speed):

		var elem = $(this);

		// data('flipped') is a flag we set when we flip the element:

		if(elem.data('flipped'))
		{
			// If the element has already been flipped, use the revertFlip method
			// defined by the plug-in to revert to the default state automatically:
			elem.revertFlip();
			// Unsetting the flag:
			elem.data('flipped',false)
		}
		else
		{
			word_id = elem.attr('word_id');
			/* cancel the flip ajax
			$.ajax({
						url: "/words/add_tag",
						type: "POST",
						data: {"word": {"word_id" : word_id,"tag": "unfamiliar"}},
						dataType: "json",
						success :function(data){

						},
						error: function(){
							window.log("error");
						}
					});
			// Using the flip method defined by the plugin:
			*/
			elem.flip({
				direction:'lr',
				speed: 350,
				onBefore: function(){
					// Insert the contents of the .sponsorData div (hidden from view with display:none)
					// into the clicked .sponsorFlip div before the flipping animation starts:
					elem.html(elem.siblings('.sponsorData').html());
				},
				onEnd: function(){
					/* ******************************************Cancel the get_tags
					if(!elem.data('flipped'))
					{

						$.getJSON(
								"/get_word_tags",
								{ id : word_id },
								function(result){
									var ul = elem.children('.tag').children('ul');
									ul.html('');

									for(var i=0; i<result.length; i++)
									{
										ul.append("<li class='tag-item'>"+result[i].tag.name+"</li>");
									}
								}
							);

					}
					******************************************/
				}
			});

			// Setting the flag:
			elem.data('flipped',true);
		}
	});

	$("#tag").bind("focus", function(){
		$('#tag').removeClass("error")
		$('#tag').val("")
		$('.error-message').html('');
	}),

	$('.edit').bind('click', function(){
		var me = $(this);

		user_id = $(this).attr('user_id');
		word_id = $(this).attr('word_id');

		word = $(this).attr('word');
		translation = $(this).attr('translation');
		tag_count = $(this).attr('tag_count');


		$('.dialog').dialog({

			modal:true,
			title : "Edit Word",
			open : function(){
				$('#word').html(word);
				$('#translation').html(translation);
			},
			buttons: { "OK": function() {
				$.ajax({
					url: "/words/add_tag",
					type: "POST",
					data: {"word": {"word_id" : word_id,"tag": $('#tag').val()}},
					dataType: "json",
					success :function(data){
							if(tag_count > 1)
							{
								$('.error-message').html('Sorry,tag count exceeds 2');
								$('#tag').addClass("error")
								$('#word').html('');
							    $('#translation').html('');
							    //$(".dialog").dialog("close");

							}else
							{
						if(data.state == "created"){
							var ul = me.parent().prev().children('.sponsorFlip').children('.tag').children()[0];
							var new_tag = $("<li class='tag-item'></li>");
							new_tag.text($('#tag').val());
							new_tag.addClass('new-tag');
							highlight(new_tag);
							$(ul).append(new_tag);
							$('#word').html('');
							$('#translation').html('');
							$(".dialog").dialog("close");
							$("#tags-list ul").prepend('<li><%= link_to "' + $('#tag').val() + '",@user %></li>');

						}else if(data.state == 'attached'){
							$('.error-message').html('Sorry,existing tag has already attached');
							$('#tag').addClass("error");
						}else{}
				}	},
					error: function(){ window.log("error");}
				})
			  },
			  "Cancel": function(){
				$('#word').html('');
				$('#translation').html('');

				$('#tag').removeClass("error")
				$('#tag').val("")
				$('.error-message').html('');
				$(".dialog").dialog("close");
				}
			}
		});
	});
});
</script>