<%= render "layouts/keep-in-mind-box" %>

<div id="cards">
	<div class="sponsorListHolder">
			<% @words.each { |word| %>
				<div class="sponsor" title="Click to flip">
					<div class="sponsorFlip">
						<%= time_ago_in_words(word.created_at)%>
						<div style="font-size:30px;text-align:center;margin-top:20px"><%=word.word%></div>

					</div>
					<div class="sponsorData">
						<div class="sponsorDescription">
							<div style="font-size:30px;text-align:center;margin-top:20px"><%=word.translation%></div>
						</div>
						<div class="sponsorURL">
							<a href="<%= word.link%>"><%= (word.sample || word.link)%></a>
						</div>
					</div>

				</div>
				<div style="clear:both">
					<a href="##" class='edit' user_id="<%= word.user.id %>" word_id="<%= word.id %>" word="<%= word.word %>" translation="<%= word.translation%>" >edit</a>
				</div>
			<%}%>
	<div>
</div>

<div class="dialog" style='display:none'>
	<div id="name">
		Word: <span id='word' ></span><br/>
		Translation: <span id='translation'></span><br/>
		Tags: <input type='text' id='tag'/>		
	</div>

</div>

<script>
$(document).ready(function(){
	/* The following code is executed once the DOM is loaded */
	
	$('.sponsorFlip').bind("click",function(){
		
		// $(this) point to the clicked .sponsorFlip element (caching it in elem for speed):
		
		var elem = $(this);
		
		// data('flipped') is a flag we set when we flip the element:
		
		if(elem.data('flipped'))
		{
			// If the element has already been flipped, use the revertFlip method
			// defined by the plug-in to revert to the default state automatically:
			
			elem.revertFlip();
			
			// Unsetting the flag:
			elem.data('flipped',false)
		}
		else
		{
			// Using the flip method defined by the plugin:
			
			elem.flip({
				direction:'lr',
				speed: 350,
				onBefore: function(){
					// Insert the contents of the .sponsorData div (hidden from view with display:none)
					// into the clicked .sponsorFlip div before the flipping animation starts:
					
					elem.html(elem.siblings('.sponsorData').html());
				}
			});
			
			// Setting the flag:
			elem.data('flipped',true);
		}
	});
	
	$('.edit').bind('click', function(){
		user_id = $(this).attr('user_id');
		word_id = $(this).attr('word_id');
		word = $(this).attr('word');
		translation = $(this).attr('translation');

		$('.dialog').dialog({
			modal:true,
			title : "Edit Word",
			open : function(){
				$('#word').html(word);
				$('#translation').html(translation);
			},
			buttons: { "OK": function() { 
				// TODO : Ajax save tags
				$('#word').html('');
				$('#translation').html('');
				$(this).dialog("close"); 
			}}
		});
	});
});
</script>