<div id="words-container">


  <div id="mainbox2">

    <img id="dictionary_img" src="/images/show/dictionary.png"/>
    <img id="dictionary_title_img" src="/images/show/title.png"/>

    <%= form_for([@user, Word.new]) do |f| %>
        <div class="keepin_input_box">
          <div class="box-text">
            <%= f.text_area :word, :class=> "box-text-input" %>
            <div class="box_bottom">
              <span>try this formate apple@i love apple <b>or</b> apple@http://google.com </span>
            </div>
            <%= f.submit "Keep In Mind", :class=> "box-submit-button" %>
          </div>

        </div>
    <% end %>

    <ul class="words-stream-tabs">
      <li class="words-stream-tab active">
        <a class="words-tab-text" href="">All</a>
      </li>
      <li class="words-stream-tab">
        <a class="words-tab-text" href="">Familiar</a>
      </li>
      <li class="words-stream-tab">
        <a class="words-tab-text" href="">Unfamiliar</a>
      </li>
      <li>
        <a id="play-button" href=""></a>
      </li>
    </ul>

    <div id="cards">
      <div class="new-sponsorListHolder">
        <% @words.each { |word| %>
            <div id='<%= word.word %>' style='float:left'>
              <div class="sponsor" title="Click to flip">
                <div class="sponsorFlip" word_id='<%= word.id %>'>
                  <div id="name" style="padding: 10px 10px 40px">
                    <%= time_ago_in_words(word.updated_at) %>
                    <div class='word-content'>
                      <%= word.word %>
                    </div>
                  </div>
                  <!--
							<div class="tag">
								<ul style="margin-left:10px; ">

                  <% word.tags.each do |tag| %>
									 <li class='tag-item'>
									 	<%= tag.name %>
									 </li>

                  <% end %>
								</ul>
							</div>
							-->
                </div>
                <div class="sponsorData">
                  <div class="sponsorDescription">
                    <div style="font-size:30px;text-align:center;margin-top:20px"><%= word.translation %></div>
                  </div>
                  <div class="sponsorURL">
                    <a href="<%= word.link %>"><%= (word.sample || word.link) %></a>
                  </div>
                </div>
              </div>
              <!-- cancel the edit tag
					<div style='margin-left:10px'>
						<a href="##" class='edit' user_id="<%= word.user.id %>" word_id="<%= word.id %>" word="<%= word.word %>" translation="<%= word.translation %>" tag_count="<%= word.tags.count %>" >edit</a>
					</div>
					-->
            </div>
        <% } %>
        <div>
        </div>

        <div class="dialog" style='display:none'>
          <div id="name">
            <div class='error-message'>
            </div>
            Word: <span id='word'></span><br/>
            Translation: <span id='translation'></span><br/>
            Tags: <input type='text' id='tag'/>
          </div>

        </div>


      </div>

    </div>
  </div>
</div>
<script>
function highlight(element){
	$(element).addClass("highlight");
	window.setTimeout(function(){
		$(element).removeClass('highlight');
	}, 1000);
}

$(document).ready(function(){
	/* The following code is executed once the DOM is loaded */

	$('.sponsorFlip').bind("click",function(){

		// $(this) point to the clicked .sponsorFlip element (caching it in elem for speed):

		var elem = $(this);

		// data('flipped') is a flag we set when we flip the element:

		if(elem.data('flipped'))
		{
			// If the element has already been flipped, use the revertFlip method
			// defined by the plug-in to revert to the default state automatically:
			elem.revertFlip();
			// Unsetting the flag:
			elem.data('flipped',false)
		}
		else
		{
			word_id = elem.attr('word_id');
			/* cancel the flip ajax
			$.ajax({
						url: "/words/add_tag",
						type: "POST",
						data: {"word": {"word_id" : word_id,"tag": "unfamiliar"}},
						dataType: "json",
						success :function(data){

						},
						error: function(){
							window.log("error");
						}
					});
			// Using the flip method defined by the plugin:
			*/
			elem.flip({
				direction:'lr',
				speed: 350,
				onBefore: function(){
					// Insert the contents of the .sponsorData div (hidden from view with display:none)
					// into the clicked .sponsorFlip div before the flipping animation starts:
					elem.html(elem.siblings('.sponsorData').html());
				},
				onEnd: function(){
					/* ******************************************Cancel the get_tags
					if(!elem.data('flipped'))
					{

						$.getJSON(
								"/get_word_tags",
								{ id : word_id },
								function(result){
									var ul = elem.children('.tag').children('ul');
									ul.html('');

									for(var i=0; i<result.length; i++)
									{
										ul.append("<li class='tag-item'>"+result[i].tag.name+"</li>");
									}
								}
							);

					}
					******************************************/
				}
			});

			// Setting the flag:
			elem.data('flipped',true);
		}
	});

	$("#tag").bind("focus", function(){
		$('#tag').removeClass("error")
		$('#tag').val("")
		$('.error-message').html('');
	}),

	$('.edit').bind('click', function(){
		var me = $(this);

		user_id = $(this).attr('user_id');
		word_id = $(this).attr('word_id');

		word = $(this).attr('word');
		translation = $(this).attr('translation');
		tag_count = $(this).attr('tag_count');


		$('.dialog').dialog({

			modal:true,
			title : "Edit Word",
			open : function(){
				$('#word').html(word);
				$('#translation').html(translation);
			},
			buttons: { "OK": function() {
				$.ajax({
					url: "/words/add_tag",
					type: "POST",
					data: {"word": {"word_id" : word_id,"tag": $('#tag').val()}},
					dataType: "json",
					success :function(data){
							if(tag_count > 1)
							{
								$('.error-message').html('Sorry,tag count exceeds 2');
								$('#tag').addClass("error")
								$('#word').html('');
							    $('#translation').html('');
							    //$(".dialog").dialog("close");

							}else
							{
						if(data.state == "created"){
							var ul = me.parent().prev().children('.sponsorFlip').children('.tag').children()[0];
							var new_tag = $("<li class='tag-item'></li>");
							new_tag.text($('#tag').val());
							new_tag.addClass('new-tag');
							highlight(new_tag);
							$(ul).append(new_tag);
							$('#word').html('');
							$('#translation').html('');
							$(".dialog").dialog("close");
							$("#tags-list ul").prepend('<li><%= link_to "' + $('#tag').val() + '",@user %></li>');

						}else if(data.state == 'attached'){
							$('.error-message').html('Sorry,existing tag has already attached');
							$('#tag').addClass("error");
						}else{}
				}	},
					error: function(){ window.log("error");}
				})
			  },
			  "Cancel": function(){
				$('#word').html('');
				$('#translation').html('');

				$('#tag').removeClass("error")
				$('#tag').val("")
				$('.error-message').html('');
				$(".dialog").dialog("close");
				}
			}
		});
	});
});
</script>