<div id="words-container">


  <div id="mainbox">

    <img id="dictionary_img" src="/images/show/dictionary.png"/>
    <img id="dictionary_title_img" src="/images/show/title.png"/>

    <%= form_for([@user, Word.new]) do |f| %>
        <div class="keepin_input_box">
          <div class="box-text">
            <%= f.text_area :word, :class=> "box-text-input" %>
            <div class="box_bottom">
              <span>try this formate apple@i love apple <b>or</b> apple@http://google.com </span>
            </div>
            <%= f.submit "Keep In Mind", :class=> "box-submit-button" %>
          </div>

        </div>
    <% end %>

    <ul class="words-stream-tabs">
      <li class="words-stream-tab active">
        <a class="words-tab-text" href="">All</a>
      </li>
      <li class="words-stream-tab">
        <a class="words-tab-text" href="">Familiar</a>
      </li>
      <li class="words-stream-tab">
        <a class="words-tab-text" href="">Unfamiliar</a>
      </li>
      <li class="words-stream-tab-button" id="play-button">
        <img src="/images/show/Button-Up.png" id="play-image" width="50px" height="50px"/>
        <img src="/images/show/Button-Stop.png" id="stop-image" style="display:none; margin-top: -1px; margin-left: -1px;" width="50px" height="50px"/>
      </li>
    </ul>

    <div id="cards">
      <div class="new-sponsorListHolder">
        <% @wordsList.each { |word| %>

            <div id='<%= word.word %>' style='float:left'>

              <div class="sponsor" title="Click to flip">

                <div class="sponsorFlip" word_id='<%= word.id %>'>
                  <div style="padding: 10px 10px 40px">
                    <%= time_ago_in_words(word.updated_at) %>
                    <div class='word-content'>
                      <%= word.word %>
                    </div>
                  </div>
                </div>

                <div class="sponsorData">
                  <div class="sponsorDescription">
                    <div style="font-size:30px;text-align:center;margin-top:20px"><%= word.translation %></div>
                  </div>
                  <div class="sponsorURL">
                    <a href="<%= word.link %>"><%= (word.sample || word.link) %></a>
                  </div>
                </div>

              </div>

            </div>

        <% } %>

      </div>
    </div>

    <div id="Pagination" class="digg_pagination">
      <%= will_paginate @wordsList %>
    </div>
  </div>


</div>


