<div id="words-container">


  <div id="mainbox">

    <img id="dictionary_img" src="/images/show/dictionary.png"/>
    <img id="dictionary_title_img" src="/images/show/title.png"/>

    <%= form_for([@user, Word.new]) do |f| %>
        <div class="keepin_input_box">
          <div class="box-text">
            <%= f.text_area :word, :class=> "box-text-input" %>
            <div class="box_bottom">
              <span>try this format apple@i love apple <b>or</b> apple@http://google.com </span>
            </div>
            <%= f.submit "Keep In Mind", :class=> "box-submit-button" %>
          </div>

        </div>
    <% end %>
    <ul class="words-stream-tabs">
          <li class="words-stream-tab active">
            <a class="words-tab-text" id="all-tab" href="">All</a>
          </li>
          <li class="words-stream-tab">
            <a class="words-tab-text" id="stared-tab" href="">Stared</a>
          </li>
          <li class="words-stream-tab">
            <a class="words-tab-text" id="important-tab" href="">Important</a>
          </li>
          <li class="words-stream-tab-button" id="play-button">
            <img src="/images/show/Button-Up.png" id="play-image" width="50px" height="50px"/>
            <img src="/images/show/Button-Stop.png" id="stop-image" style="display:none; margin-top: -1px; margin-left: -1px;" width="50px" height="50px"/>
          </li>
    </ul>

    <div id="cards-container">
      <%= render 'layouts/cards' %>
    </div>

    <%= render 'layouts/slider' %>

  </div>
</div>

<script type="text/javascript">

    var eventCode = -1;
    var current_word_number = 1;
    var total_words = 0;
    var clickedWords = new Array;
    var has_fetched_words = false;
	var current_tab_name = "all";
    $(function() {
		
        $("#play-button").live("click", function() {
            switchPlayAndStop();

        });
        $('.sponsorFlip').live("click", function() {

            var elem = $(this);

            if (elem.data('flipped')) {
                elem.revertFlip();
                elem.data('flipped', false);
            } else {
                var word_id = elem.attr('word_id');
                elem.flip({
                    direction:'lr',
                    speed: 350,
                    onBefore: function() {
                        elem.html(elem.siblings('.sponsorData').html());
                    },
                    onEnd:function() {
                    }
                });
                elem.data('flipped', true);
            }
        });

        $('.sponsor .star').live("click", function() {

            if ($(this).css("background-position") == "0px 0px") {
                $(this).css({
                    "background-position": "0 100%"
                });
            } else {
                $(this).css({
                    "background-position": "0 0"
                });
            }
            return false;
        })
        $('.sponsor .important').live("click", function() {

            if ($(this).css("background-position") == "0px 0px") {
                $(this).css({
                    "background-position": "0 95%",
                    "bottom" : "-20px"
                });
            } else {
                $(this).css({
                    "background-position": "0 0"
                });
            }
            return false;
        })

		addListenerForTab();
        addListenerForSlider();
    })

    function switchPlayAndStop() {

        if ($("#play-image").css("display") == "none") {
            stopCards();
            $("#play-image").css({
                display:""
            });
            $("#stop-image").css({
                display:"none"
            });
        } else {
            openCards();
            $("#play-image").css({
                display:"none"
            });
            $("#stop-image").css({
                display:""
            });
        }
    }

    function highlight(element) {
        $(element).addClass("highlight");
        window.setTimeout(function() {
            $(element).removeClass('highlight');
        }, 1000);
    }

    function openCards() {
        $("#cards-container").animate({
            "opacity":"hide"
        }, 600, function() {
            $("#slides").css({
                display:"none"
            });
            has_fetched_words = false;
//            ajax_get_words();
            setTimeout("ajax_get_words();", 2000);
            $("#featured-box").show("scale", {}, 1000, function() {
                if (!has_fetched_words) {
                    $(".words-loading-img").fadeIn();
                }

            });
        });
    }

    function playCards() {
        $(".words-loading-img").fadeOut("slow", function() {
            $("#slides").css({
                display:""
            });
            $(".slider-nav").css({
                display:""
            });
            activeSlide();
        });

    }

    function stopCards() {

        $(".slider-nav").fadeOut();
        $(".slides_container").fadeOut("slow", function() {

            $("#featured-box").hide("scale", {}, 800, function() {
                $("#cards-container").animate({
                    "opacity": "show"
                }, 500);
            });
        });

    }

    function ajax_get_words() {
        has_fetched_words = false;
        $.ajax({
            url: "/users/" + '<%= @user.id %>' + "/tag/" + current_tab_name,
            type: "POST",
            dataType: "json",
            success :function(data) {
                $(".slides_container").empty();
                $.each(data, function(i, word) {
                    has_fetched_words = true;
                    total_words++;
                    var div_string = '<div class="slide"><div class="word" id="word' + word.word.id + '">' + word.word.word
                            + '</div><div class="slide_back">' + word.word.translation + '</div></div>';
                    $(".slides_container").append(div_string);

                });

                playCards();

            },
            error: function() {
                window.log("error");
            }
        });
    }

    function activeSlide() {
        if ($('.slide').length > 0) {
            $('.slides_container').css("display", "block");
        }
        $('#slides').slides({
            preload: true,
            preloadImage: '/stylesheets/img/slide_images/loading.gif',
            play: 0,
            pause: 2500,
            hoverPause: true ,
            generatePagination: false
        });
        // addListenerForSlider();
    }

	function addListenerForTab(){
		$("#all-tab").live("click", function(){
			current_tab_name = "all";
			$.get("/users/" + '<%= @user.id %>' + "/tag/all", null, null, "script");
	        return false;
		});
		$("#stared-tab").live("click", function(){
			current_tab_name = "unfamiliar";
			$.get("/users/" + '<%= @user.id %>' + "/tag/unfamiliar", null, null, "script");
	        return false;
		});
		$("#important-tab").live("click", function(){
			current_tab_name = "familiar";
			$.get("/users/" + '<%= @user.id %>' + "/tag/familiar", null, null, "script");
	        return false;
		});
		$(".words-stream-tab").click(function(){
			$(this).addClass("active");
			$(this).siblings().removeClass("active");
		});
	}
	
    function addListenerForSlider() {

        $('.word').live("click", function() {
            var elem = $(this);
            var word_id = elem.attr('id').replace(/[^\d]/g, '');
            clickedWords.push(word_id);
            update_tag_via_ajax(word_id, "familiar", "unfamiliar");
            if (elem.data('flipped')) {
                elem.revertFlip();
                elem.data('flipped', false);
            } else {
                elem.flip({
                    direction: 'tb',
                    color:'#F3F1E5',
                    speed:350,
                    onBefore:function() {
                        elem.html(elem.siblings('.slide_back').html());
                    },
                    onEnd: function() {
                    },
                    onAnimation:function() {
                        elem.css("background-color", "#663300");
                    }
                });
                elem.data('flipped', true);
            }
        });
        $(document).keydown(function(event) {
            if (eventCode < 0)
                eventCode = event.which;
            else
                return;
            operateKeyCode();
        });
        $(".prev").live('click', function() {
            if (--current_word_number <= 0)
                current_word_number = total_words;
            $('#current_word').html(current_word_number);
        });
        $(".prev").live("mousedown", function() {
            var word_id = $('.slides_control > div:visible div[id]').attr('id').replace(/[^\d]/g, '');
            if (jQuery.inArray(word_id, clickedWords) < 0) {
                update_tag_via_ajax(word_id, "unfamiliar", "familiar");
            }
        });
        $(".next").live('click', function() {
            if (++current_word_number > total_words)
                current_word_number = 1;
            $('#current_word').html(current_word_number);
        });
        $(".next").live("mousedown", function() {
            var word_id = $('.slides_control > div:visible div[id]').attr('id').replace(/[^\d]/g, '');
            if (jQuery.inArray(word_id, clickedWords) < 0) {
                update_tag_via_ajax(word_id, "unfamiliar", "familiar");
            }
        });

        /***    for bottom navigation
         $(".bottom_back > a").live("mousedown", function() {
         if (total_words == 1 && clickedWords.length == 0) {
         var word_id = $('.slides_control > div:visible div[id]').attr('id').replace(/[^\d]/g, '');
         update_tag_via_ajax(word_id, "unfamiliar", "familiar");
         } else if (current_word_number == total_words) {
         var word_id = $('.slides_control > div:visible div[id]').attr('id').replace(/[^\d]/g, '');
         if (clickedWords.indexOf(word_id) < 0)
         update_tag_via_ajax(word_id, "unfamiliar", "familiar");
         }
         });
         ***/

    }

    function operateKeyCode() {
        switch (eventCode) {
            case 37 :
                $(".prev").trigger("mousedown");
                $(".prev").trigger("click");
                break;
            case 39 :
                $(".next").trigger("mousedown");
                $(".next").trigger("click");
                break;
            default:
                break;
        }
        setTimeout("resetEventCode()", 1000);
    }

    function resetEventCode() {
        eventCode = -1;
    }

    function update_tag_via_ajax(word_id, oldTag, newTag) {
        $.ajax({
            url: "/words/update_tag",
            type: "POST",
            data: {"word": {"word_id" : word_id,"oldTag": oldTag, "newTag": newTag}},
            dataType: "json",
            success :function(data) {

            },
            error: function() {
            }
        });
    }

</script>


