<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container_16">
      <%= render 'layouts/header' %>
      <%= yield %>
      
    </div>
	<%= render 'layouts/footer' %>
  </body>
</html>