<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			<%= @title %>
		</title><%= csrf_meta_tag %><%= render 'layouts/signin-signup' %><%= javascript_include_tag 'jquery-1.4.4' %>
	</head>
	<body class="home">
		<div id="heroku-header">
			<h5 id="heroku-logo">
				<a href="http://heroku.com">Keep In</a>
			</h5>
			<ul id="heroku-section-nav">
				<li id="heroku-header-link-login">
					<%= link_to "Login", signin_path %>
				</li>
				<li style="list-style: none">
					<a>Add-ons</a>
				</li>
			</ul>
		</div>
		<div id="wrapper">
			<div id="main">
				<div id="chart-wrapper">
				<div id="chart">
					<div id="bars">
						<div class="bar first">
							<div class="pointer"></div>
							<div class="description">
								<p>
									<%= image_tag("firefox.png", :width=>'48', :height=>'48') %>
									<%= image_tag("safari.png",  :width=>'48', :height=>'48') %>
									<%= image_tag("chrome.png",  :width=>'48', :height=>'48') %><br>
									Capture word using browser plugin
								</p>
							</div>
						</div>
						<div class="bar second">
							<div class="pointer"></div>
							<div class="description">
								<p>
									Sync the words to mobile<br>
									<%= image_tag("iphone.png", :width=>'48', :height=>'48') %>
									<%= image_tag("android.png",  :width=>'48', :height=>'48') %>
								</p>
								</p>
							</div>
						</div>
						<div class="bar third">
							<div class="pointer"></div>
							<div class="description">
								<p>
									<%= image_tag("train.png", :width=>'48', :height=>'48') %>
									<%= image_tag("bus.png",  :width=>'48', :height=>'48') %><br>
									Learn anytime, anywhere
								</p>
							</div>
						</div>
						<div class="bar fourth">
							<div class="pointer"></div>
							<div class="description">
								<p>
									Understand your progress using reports<br>
									<%= image_tag("bar_chart.png", :width=>'48', :height=>'48') %>
									<%= image_tag("line_chart.png",  :width=>'48', :height=>'48') %>
								</p>
							</div>
						</div>
						<div class="bar fifth">
							<div class="pointer"></div>
							<div class="description">
								<p>
									Learning/Sharing with others<br>
									<%= image_tag("community.png", :width=>'48', :height=>'48') %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

				<!-- <div class="rightpane">
					<h2 class="tagline">
						Never miss one word
					</h2>
					<ul class="subtag">
						<li>Learn from others
						</li>
						<li>Inspired by others
						</li>
						<li>Grow with others
						</li>
						<li>Study with more fun
						</li>
					</ul><%= link_to "signup", signup_path, :class=>'signup' %>
				</div> -->
			</div>
		</div>
	</body>
</html>
