<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			<%= @title %>
		</title><%= csrf_meta_tag %><%= render 'layouts/signin-signup' %><%= javascript_include_tag 'jquery-1.4.4' %>
	</head>
	<body class="home">
		<%= render 'layouts/header' %>
		<div id="wrapper">
			<div id="main">
			</div>
		</div>
	</body>
</html>
